{% extends "base.html" %}

<!--title-->
{% block title %} About Us!{% endblock %}

<!--header-->
{% block header %} 
  <h1> <b>About Us!</b> </h1>
{% endblock %}

<!--mainBody taken from Olympic Industries Website-->
{% block mainBody %} 
<div data-glide-el="track" class="glide__track">
    <div class="glide__slides">
        <div class="tab-content container">
          <div class="grid two-col">
            <div class="left">
              <h1 class="orange wrap max-550">
                We’re a group of forest products traders and support team doing things in this industry that haven’t been done before.
                <br>
              </h1>
            </div>
            <div class="right">
              <h2 class="light">Our company is involved primarily in the trading, manufacturing, and wholesale distribution of forest products. Established in 1972, we have a strong record of success and a clear vision for a sustainable future in our industry. We believe in the strength, versatility and ongoing viability of our forests.</h2>
                <div class="cta smaller mt-m">
                  <a class="text-button orange bold" href="https://olympicind.com/about/">
                    Meet the Olympic team →
                  </a>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<br>
{% endblock %}